In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [2]:
weather_df1 = pd.read_csv('weatherHistory.csv')
weather_df1.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
weather_df1.shape

(96453, 12)

In [4]:
weather_df1.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [15]:
weather_df1['Precip Type'].fillna(weather_df1['Precip Type'].mode()[0],inplace = True)

In [17]:
weather_df1['Precip Type'].value_counts()

rain    85741
snow    10712
Name: Precip Type, dtype: int64

In [18]:
weather_df1['Precip Type']

0        rain
1        rain
2        rain
3        rain
4        rain
         ...
96448    rain
96449    rain
96450    rain
96451    rain
96452    rain
Name: Precip Type, Length: 96453, dtype: object

In [20]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
weather_df1['Precip Type'] = le.fit_transform(weather_df1['Precip Type'])

In [22]:
weather_df1['Precip Type'].value_counts()

0    85741
1    10712
Name: Precip Type, dtype: int64

In [23]:
weather_df1.dtypes

Formatted Date               object
Summary                      object
Precip Type                   int64
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

In [24]:
weather_df_num = weather_df1[list(weather_df1.dtypes[weather_df1.dtypes!='object'].index)]

In [25]:
weather_y = weather_df_num.pop('Temperature (C)')
weather_x = weather_df_num

In [26]:
weather_y

0         9.472222
1         9.355556
2         9.377778
3         8.288889
4         8.755556
           ...
96448    26.016667
96449    24.583333
96450    22.038889
96451    21.522222
96452    20.438889
Name: Temperature (C), Length: 96453, dtype: float64

In [27]:
train_x,test_x,train_y,test_y = train_test_split(weather_x,weather_y,test_size =0.2,random_state = 0)

In [30]:
train_x.shape

(77162, 8)

In [32]:
model = LinearRegression()
model.fit(train_x,train_y)

prediction = model.predict(test_x)

In [34]:
np.mean((prediction-test_y)**2)

0.9002533191811763

In [38]:
pd.DataFrame({'actual':test_y,'prediction':prediction,'diff':(test_y-prediction)})

          actual  prediction      diff
6119   14.422222   14.203721  0.218501
51443  12.155556   13.450935 -1.295379
18754  23.961111   23.354886  0.606225
34070  15.000000   15.116729 -0.116729
26082  12.800000   13.171442 -0.371442
...          ...         ...       ...
12953  28.888889   27.741306  1.147583
78272  17.216667   17.043064  0.173602
1985   -1.000000    0.783519 -1.783519
82141   7.327778    8.052503 -0.724725
15354  16.061111   16.275044 -0.213933

[19291 rows x 3 columns]

In [39]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 4)
x_poly = poly.fit_transform(train_x)

poly.fit(x_poly,train_y)

lin2 = LinearRegression()
lin2.fit(x_poly,train_y)

prediction2 = lin2.predict(poly.fit_transform(test_x))

In [40]:
np.mean((prediction2 - test_y)**2)

0.1004517123814388

In [41]:
pd.DataFrame({'actual':test_y,'prediction':prediction2,'diff':(test_y-prediction2)})

          actual  prediction      diff
6119   14.422222   14.356354  0.065868
51443  12.155556   12.666289 -0.510734
18754  23.961111   23.826077  0.135034
34070  15.000000   14.949170  0.050830
26082  12.800000   12.851597 -0.051597
...          ...         ...       ...
12953  28.888889   28.750086  0.138803
78272  17.216667   17.174351  0.042316
1985   -1.000000   -0.281559 -0.718441
82141   7.327778    7.755262 -0.427484
15354  16.061111   16.043953  0.017158

[19291 rows x 3 columns]

In [42]:
from sklearnrnrnrnrnrnrnrDecisionTreeRegressorssorssorssorssorssorrnearnearnearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(train_x,train_y)

DecisionTreeRegressor(random_state=0)

In [43]:
prediction3 = regressor.predict(test_x)
np.mean((prediction3 - test_y)**2)

0.006390872798739953

In [44]:
pd.DataFrame({'actual':test_y,'prediction':prediction3,'diff':(test_y-prediction3)})

          actual  prediction          diff
6119   14.422222   14.422222  5.329071e-15
51443  12.155556   12.155556 -5.329071e-15
18754  23.961111   23.961111  0.000000e+00
34070  15.000000   15.000000  0.000000e+00
26082  12.800000   12.800000 -1.776357e-15
...          ...         ...           ...
12953  28.888889   28.888889  0.000000e+00
78272  17.216667   17.216667 -7.105427e-15
1985   -1.000000   -1.000000  0.000000e+00
82141   7.327778    7.327778  0.000000e+00
15354  16.061111   16.061111 -1.421085e-14

[19291 rows x 3 columns]

In [45]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth = 10,random_state = 0,n_estimators = 100)
regr.fit(train_x,train_y)

RandomForestRegressor(max_depth=10, random_state=0)

In [46]:
prediction4 = regr.predict(test_x)
np.mean((prediction4 - test_y)**2)

0.008552807710691626

In [47]:
pd.DataFrame({'actual':test_y,'prediction':prediction4,'diff':(test_y-prediction4)})

          actual  prediction      diff
6119   14.422222   14.419981  0.002241
51443  12.155556   12.152634  0.002922
18754  23.961111   23.963833 -0.002722
34070  15.000000   15.001344 -0.001344
26082  12.800000   12.788477  0.011523
...          ...         ...       ...
12953  28.888889   28.849392  0.039497
78272  17.216667   17.223949 -0.007283
1985   -1.000000   -1.087838  0.087838
82141   7.327778    7.378555 -0.050778
15354  16.061111   16.065037 -0.003926

[19291 rows x 3 columns]

In [48]:
regr = RandomForestRegressor(max_depth = 45,random_state = 0,n_estimators = 100)
regr.fit(train_x,train_y)

prediction5 = regr.predict(test_x)
np.mean((prediction5 - test_y)**2)

0.0021521205647615496

In [49]:
pd.DataFrame({'actual':test_y,'prediction':prediction5,'diff':(test_y-prediction4)})

          actual  prediction      diff
6119   14.422222   14.422222  0.002241
51443  12.155556   12.155556  0.002922
18754  23.961111   23.961111 -0.002722
34070  15.000000   15.000000 -0.001344
26082  12.800000   12.800000  0.011523
...          ...         ...       ...
12953  28.888889   28.903889  0.039497
78272  17.216667   17.216667 -0.007283
1985   -1.000000   -0.998389  0.087838
82141   7.327778    7.327278 -0.050778
15354  16.061111   16.061111 -0.003926

[19291 rows x 3 columns]